[ req ]
prompt = no
distinguished_name = req_name

[ req_name ]
C = TW
ST = Taiwan
L = Taipei
O = TOC
OU = RD
CN = toc-trader.tocraw.com
emailAddress = maochindada@email.com

[ v3_ca ]
basicConstraints = critical,CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
